<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Dev Skills</title>
</head>

<body>
    <h1>Current Skills</h1>
    <ul>
       <% console.log(skills); %>
        <% skills.forEach(function(t) { %>
        <li>
            <a href="/skills/show/<%= t.id %>"> <%= t.skill %> </a> 
            <form action="/skills/<%= t.id %>?_method=DELETE" method="POST" class="remove">
                <button type="submit">X</button>
            </form>
            -
            <%= t.done ? 'done' : 'not done' %>
        </li>

        <%});%>
    </ul>
    <a href='/skills/newskill'>Add a skill</a>
</body>

</html>