body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: beige;
}

h1 {
  text-align: center;
  color: black;
}

a {
  color: #00B7FF;
}

p {
  text-align: center;
}
.remove {
  display: inline-block;
  margin-right: 10px;
}


